<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" href="<?php echo $thisFilePath; ?>templates/style.css" />
    <?php if ($useJavascript): ?>
    <script type="text/javascript" src="<?php echo $thisFilePath; ?>templates/mootools-core.js"></script>
    <script type="text/javascript" src="<?php echo $thisFilePath; ?>templates/mootools-more.js"></script>
    <?php endif; ?>
    <title>Exception Throw</title>
</head>
<body>
    <div id="container">
        <div id="message">
            <h1><?php echo $exception; ?> Detected!</h1>

            <p><?php echo $message; ?></p>
        </div>
        <div id="traceContainer">
